{% extends 'index.html' %}
{% block tittle %} List of menus {% endblock tittle %}
{% block body %}
    <div>
        <H1> Menus </H1>
        <table border="2">
            <thead>
            <tr>
                <th>lunches</th>
                <th>Published at</th>
                <th>Created at</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.lunches }}</td>
                    <td>{{ menu.published_at }}</td>
                    <td>{{ menu.created_at }}</td>
                    <td><a href="{% url 'edit_menu' menu.menu_id %}">Edit</a> | <a href="">Send</a></td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table border="0">
            <thead>
            <tr>
                <th>
                    <a href="{% url 'list_order' %}">Go to orders</a>
                </th>
                <th></th>
                <th></th>
                <th>
                    <a href="{% url 'create_menu' %}">Create new menu</a>
                </th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock body %}
